  .box {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .wrapper {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: 100px 100px 100px;
    grid-auto-flow: row;
  }